<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/comment.css"/>
</head>
<body>

    <div class="container clear-float">
        <div class="content-container">

        </div>

        <div class="left-part">

        </div>
        <div class="comments-container">
            <div class="comment-container">
                深度好文
                <div class="comment-container reply">
                    回复您
                </div>
                <div class="comment-container reply">
                    回复您
                </div>
            </div>
            <div class="comment-container">
                深度好文
                <div class="comment-container reply">
                    回复您
                </div>
            </div>
            <div class="comment-container">
                深度好文
            </div>
        </div>
    </div>



</body>
</html>